body, html {
    margin: 0;
    padding: 0;
    font-family: 'Consolas', 'Monaco', monospace;
    background-color: #1e1e1e; /* VS Code main background color */
    color: white;
    overflow: hidden;
}

#container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

#activity-bar {
    width: 50px; /* Width of the activity bar */
    background-color: #252526; /* VS Code activity bar color */
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-top: 10px;
    border-right: 1px solid #3c3c3c;
    overflow: hidden;
    flex-shrink: 0;
}

.activity-icon {
    font-size: 1.5em; /* Icon size in the activity bar */
    margin: 10px 0;
    cursor: pointer;
}

.activity-icon:hover {
    background-color: #444444; /* Hover color for icons */
}

#sidebar {
    width: 200px; /* Width of the sidebar */
    background-color: #252526; /* VS Code sidebar color */
    color: #ccc;
    font-size: 14px; /* Font size for the sidebar */
    border-right: 1px solid #3c3c3c;
    overflow: hidden;
    flex-shrink: 0;
}

/* Style for the sidebar header */
.sidebar-header {
    color: #cccccc;
    background-color: #252526;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px 10px;
    font-size: 0.85em;
}

.explorer-item {
    padding-left: 10px;
    line-height: 22px; /* Line height for explorer items */
    border-left: 3px solid transparent; /* Border for active explorer item */
}

.explorer-item:hover {
    background-color: #383838; /* Hover color for explorer items */
}

.explorer-item.file {
    padding-left: 25px; /* Additional padding for file items */
}

.explorer-icon {
    margin-right: 5px; /* Spacing between icon and text */
}

.explorer-item.active {
    border-left: 3px solid #007acc; /* Highlight color for selected item */
    background-color: #333333; /* Background color for selected item */
    color: white;
}

.explorer-item.file a {
    color: #ccc; /* This should be the color of your other explorer text */
    text-decoration: none; /* Removes the underline from links */
}

.explorer-item.file a:hover {
    color: #ffffff; /* Color when hovering over the link, adjust as needed */
    text-decoration: underline; /* Adds an underline on hover, optional */
}

#content-area {
    flex-grow: 1;
    display: flex;;
    flex-direction: column; /* Stack top-bar and main-content vertically */ 
}

#line-content {
    flex-grow: 1;
    display: flex;;
    flex-direction: horizontal; /* Stack top-bar and main-content vertically */
    overflow: hidden;
}

#line-numbers {
    width: 30px; /* Width for line numbers, adjust as needed */
    background-color: #1e1e1e; /* Dark background color for line numbers */
    color: #858585; /* Color for line numbers */
    text-align: right; /* Right-align the line numbers */
    user-select: none; /* Prevent the line numbers from being selected */
    white-space: nowrap; /* Prevent line numbers from wrapping */
    margin-right: 10px;
    margin-left: 10px;
    line-height: 1;
    overflow-y: hidden;
}

#main-content {
    flex-grow: 1; /* Allow the content area to fill the remaining space */
    word-wrap: break-word;
    background-color: #1e1e1e; /* Lighter background color for the content area */
    color: #cccccc; /* Color for the text */
    padding: 10px; /* Padding inside the content area */
    white-space: pre-wrap; /* Preserve line breaks and spaces */
    line-height: 1; /* Match line height with line numbers */
    margin-left: 10px;
    overflow-y: auto;
}

#top-bar {
    background-color: #252526; /* Dark background color matching the explorer */
    display: flex;
    justify-content: start;
    padding: 5px 0; /* Top and bottom padding */
    border-bottom: 1px solid #3c3c3c;
    overflow: hidden;
    flex-shrink: 0;
}

.tab {
    background-color: #252526; /* Dark background color for inactive tabs */
    color: #cccccc; /* Light text color for tabs */
    padding: 5px 10px; /* Padding inside tabs */
    margin-right: 2px; /* Space between tabs */
    cursor: pointer;
    display: flex;
    align-items: center; /* Vertically center the text within the tabs */
    height: 100%; /* Make the tabs fill the top bar's height */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    border: 1px solid transparent; /* Transparent border for a cleaner look */
    transition: background-color 0.3s; /* Smooth transition for background color */
}

.tab:hover {
    background-color: #333333; /* Slightly lighter background color on hover */
}

.tab.active {
    background-color: #2c2c2c; /* Light gray background color for active tab */
    color: #cccccc; /* Dark text color for active tab */
    border-top: 2px solid #007acc; /* Highlight border for active tab */
    border-bottom: 1px solid #2c2c2c; /* Border color to match active tab background */
}


#file-path {
    color: #9CDCFE; /* Light blue color for file path */
    background-color: #252526; /* Dark background color to match the sidebar */
    padding: 5px 10px; /* Top and bottom padding with horizontal padding */
    font-family: 'Consolas', 'Monaco', monospace; /* Font to match VS Code style */
    border-bottom: 1px solid #333333; /* Separator from the content area */
    font-size: 0.85em; /* Smaller font size for the file path */
    white-space: nowrap; /* Prevent the file path from wrapping */
    overflow: hidden; /* Hide overflow */
    text-overflow: ellipsis; /* Add an ellipsis if the path is too long */
    flex-shrink: 0;
    
}

#bottom-bar {
    background-color: #1e1e1e; /* Black background color for the main part of the status bar */
    color: white; /* Text color */
    display: flex; /* Use flexbox for positioning the content */
    position: fixed; /* Fixed at the bottom */
    bottom: 0; /* Stick to the bottom */
    left: 0; /* Stretch from the left edge */
    right: 0; /* Stretch to the right edge */
    z-index: 1000; /* Ensure it's above other content */
    align-items: center; /* Vertically align the content */
    font-size: 0.85em; /* Match the font size from the image */
    border-top: 1px solid #3c3c3c;
    overflow: hidden;
}

#bottom-bar-status {
    background-color: #007acc; /* Blue background color for the status section */
    padding: 5px 10px; /* Padding inside the status section */
    display: flex;
    align-items: center; /* Vertically align the content */
}

#bottom-bar-main {
    flex-grow: 1; /* Take up the rest of the space */
    display: flex;
    align-items: center; /* Vertically align the content */
    padding: 5px 10px; /* Padding inside the main bar */
}

.status-indicator, .error-icon, .warning-icon {
    margin-right: 10px; /* Space between icons and text */
    /* Style these icons as needed */
}

.spacer {
    flex-grow: 1; /* Push items to the right */
}

#visual-top-bar {
    background-color: #252526; /* Match the color to the explorer */
    color: #ffffff; /* Text color */
    display: flex;
    justify-content: space-between; /* Space out the sections */
    align-items: center;
    padding: 5px 10px; /* Padding inside the top bar */
    border-bottom: 1px solid #3c3c3c;
    overflow: hidden;
}

.menu-section, .window-controls {
    display: flex;
}

.menu-item {
    margin-right: 15px; /* Space between menu items */
    cursor: default; /* Default cursor to indicate non-functionality */
}

.search-bar {
    flex-grow: 2; /* Allow the search bar to grow */
    display: flex;
    justify-content: center; /* Center the search bar */
}

.search-bar input {
    width: 60%; /* Make the search bar wider */
    background-color: #333333; /* Background color of the search input, slightly lighter than the bar */
    color: #ddd; /* Text color of the search input */
    border: 1px solid #444; /* Slightly visible border */
    padding: 2px 5px; /* Padding inside the search input */
    /* Disable the search bar */
    cursor: not-allowed;
}

.window-controls {
    display: flex;
    align-items: center; /* Align the control buttons vertically */
}

.window-control {
    width: 15px; /* Width of the control buttons */
    height: 15px; /* Height of the control buttons */
    border-radius: 50%; /* Make them circular */
    margin-left: 5px; /* Space between control buttons */
    background-color: #252526; /* Match the color to the explorer */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default; /* Default cursor to indicate non-functionality */
}

/* Visual indicator for the window control buttons */
.window-control.minimize::before {
    content: '';
    width: 60%;
    height: 2px;
    background-color: #ffbd44; /* Minimize color */
    border-radius: 1px;
}

.window-control.maximize::before {
    content: '';
    width: 60%;
    height: 2px;
    background-color: #00ca56; /* Maximize color */
    border-radius: 1px;
}

.window-control.close::before {
    content: '';
    width: 60%;
    height: 2px;
    background-color: #ff5f57; /* Close color */
    border-radius: 1px;
}

@media screen and (max-width: 768px) {
.code-block {
    background-color: #282c34; /* Dark background typical for a code editor */
    color: #abb2bf; /* Light gray color for the text */
    font-family: 'Consolas', 'Monaco', monospace;
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 20px;
    overflow-x: auto; /* In case the content overflows horizontally */
    line-height: 1; /* More readable line height */
    white-space: pre-wrap; /* Preserves spacing and formatting */
    overflow-wrap: break-word;
    word-break: break-word;
    overflow-x: auto;

}
}
.comment {
    color: #98c379; /* Green color for comments */
}

.keyword {
    color: #c678dd; /* Purple color for keywords like 'class', 'def', etc. */
}

.string {
    color: #e5c07b; /* Orange color for strings */
}


.about-photo img {
    /* Adjust the width or height as needed, add a border-radius, etc. */
    width: 100px; /* Adjust as needed */
    border-radius: 4px;
    margin-left: 20px; /* To give some space from the text */
}

.string .portrait {
    width: 150px; /* Reduced width */
    border-radius: 4px; /* Rounded corners for the image */
    margin-left: 10px; /* Gap between the equals sign and the photo */
    vertical-align: top; /* Align the top of the image with the text */
}

.string .photo {
    width: 350px; /* Reduced width */
    border-radius: 4px; /* Rounded corners for the image */
    margin-left: 10px; /* Gap between the equals sign and the photo */
    vertical-align: top; /* Align the top of the image with the text */
}

/* Additional styling to ensure the layout is as expected */
.about-content {
    display: flex;
    align-items: flex-start; /* Align the top of the items */
    gap: 20px; /* Space between text and image */
}

.about-text {
    flex-grow: 1; /* Allow text to fill the available space */
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .about-content {
        flex-direction: column;
    }

    .about-photo img {
        width: 100%; /* Full width on smaller screens */
        height: auto; /* Maintain aspect ratio */
        margin-left: 0; /* Reset left margin */
        margin-top: 20px; /* Space between text and image on smaller screens */
    }
}

/* Your specific updates for the About section */
#about-section .code-block {
    background-color: #282c34; /* Dark background typical for a code editor */
    color: #abb2bf; /* Light gray color for the text */
    font-family: 'Consolas', 'Monaco', monospace;
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 20px;
    overflow-x: auto; /* In case the content overflows horizontally */
    line-height: 1; /* More readable line height */
    white-space: pre-wrap; /* Preserves spacing and formatting */
    overflow-wrap: break-word;
    word-break: break-word;
    overflow-x: auto;
}

#about-section .comment {
    color: #98c379; /* Green color for comments */
}

#about-section .keyword {
    color: #c678dd; /* Purple color for keywords like 'class', 'def', etc. */
}

#about-section .string {
    color: #e5c07b; /* Orange color for strings */
}

#about-section .attribute {
    padding-left: 4em; /* Adjust as needed for the indentation */
    line-height: 1.4; /* Adjust this value as needed */
    margin-bottom: 0.5em; /* Adds space below paragraphs */
    font-size: 14px; /* Or whatever size fits your design */
}

#about-section .method-def {
    padding-left: 2em; /* Adjust as needed for the indentation */
    line-height: 1.4; /* Adjust this value as needed */
    margin-bottom: 0.5em; /* Adds space below paragraphs */
    font-size: 14px; /* Or whatever size fits your design */
}

#about-section .about-photo img {
    /* Adjust the width or height as needed, add a border-radius, etc. */
    width: 100px; /* Adjust as needed */
    border-radius: 4px;
    margin-left: 20px; /* To give some space from the text */
}

@media (max-width: 768px) {
    #about-section .about-content {
        flex-direction: column;
    }

    #about-section .about-photo img {
        width: 100%; /* Full width on smaller screens */
        height: auto; /* Maintain aspect ratio */
        margin-left: 0; /* Reset left margin */
        margin-top: 20px; /* Space between text and image on smaller screens */
    }
}

.code-block p {
    line-height: 1.4; /* Adjust this value as needed */
    margin-bottom: 0.5em; /* Adds space below paragraphs */
    font-size: 14px; /* Or whatever size fits your design */
}

.code-block {
    font-size: 0.9em; /* Adjust the font size as needed */
}

/* Add specific styles for the class and comment to make them distinct */
.keyword {
    font-weight: bold; /* Makes keywords bold */
}

.comment {
    font-style: italic; /* Italicize comments */
}

#experience-section {
    line-height: 0.5;
}

.code-block p {
    line-height: 1; /* Adjust this value as needed */
    margin-bottom: 0.5em; /* Adds space below paragraphs */
    font-size: 14px; /* Or whatever size fits your design */
}

.code-block {
    font-size: 0.9em; /* Adjust the font size as needed */
}

/* Add specific styles for the class and comment to make them distinct */
.keyword {
    font-weight: bold; /* Makes keywords bold */
}

.comment {
    font-style: italic; /* Italicize comments */
}

.code-block .method-def {
    padding-left: 2em; /* Adjust as needed */
}

.code-block .attribute {
    padding-left: 4em; /* Adjust as needed */
}

.code-block .date-comment {
    padding-left: 2em; /* Adjust as needed */
    color: #56b6c2; /* Color for comments */
}


#project-section {
    line-height: 0.5;
}

.code-block p {
    line-height: 1; /* Adjust this value as needed */
    margin-bottom: 0.5em; /* Adds space below paragraphs */
    font-size: 14px; /* Or whatever size fits your design */
}

.code-block {
    font-size: 0.9em; /* Adjust the font size as needed */
}

/* Add specific styles for the class and comment to make them distinct */
.keyword {
    font-weight: bold; /* Makes keywords bold */
}

.comment {
    font-style: italic; /* Italicize comments */
}

.code-block .method-def {
    padding-left: 2em; /* Adjust as needed */
}

.code-block .attribute {
    padding-left: 4em; /* Adjust as needed */
}

.code-block .date-comment {
    padding-left: 2em; /* Adjust as needed */
    color: #56b6c2; /* Color for comments */
}

.project-link a {
    color: #007acc; /* Blue color for project links */
    text-decoration: none; /* Removes the underline from links */
}

.project-link a:hover {
    text-decoration: underline; /* Adds an underline on hover, optional */
}

#contact-section {
    line-height: 0.5;
}

.code-block p {
    line-height: 1; /* Adjust this value as needed */
    margin-bottom: 0.5em; /* Adds space below paragraphs */
    font-size: 14px; /* Or whatever size fits your design */
}

.code-block {
    font-size: 0.9em; /* Adjust the font size as needed */
}

/* Add specific styles for the class and comment to make them distinct */
.keyword {
    font-weight: bold; /* Makes keywords bold */
}

.comment {
    font-style: italic; /* Italicize comments */
}

.code-block .method-def {
    padding-left: 2em; /* Adjust as needed */
}

.code-block .attribute {
    padding-left: 4em; /* Adjust as needed */
}

.code-block .date-comment {
    padding-left: 2em; /* Adjust as needed */
    color: #56b6c2; /* Color for comments */
}

.project-link a {
    color: #007acc; /* Blue color for project links */
    text-decoration: none; /* Removes the underline from links */
}

.project-link a:hover {
    text-decoration: underline; /* Adds an underline on hover, optional */
}
